@import 'theme.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  transition:
    background-color 0.3s,
    color 0.3s;
  @include useTheme {
    background-color: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }
}
